.square {
  box-sizing: border-box;
  border: 1px solid black;
}

#squares {
  display: flex;
  flex-wrap: wrap;
  width: min(90vmin, 960px);
  height: min(90vmin, 960px);
  border: 1px solid purple
}

.clear {
  font-size: 40px;
  font-weight: bold;
  width: 600px;
  height: 80px;
}
